<div class="container">
  <div>
    <div class="login">
      <a [routerLink]="['../login']">Go to login</a>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title>User Registration</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        @if (form) {
          <form [formGroup]="form" (ngSubmit)="register()">
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email"
              />
              @if (emailControl()?.touched && emailControl()?.hasError('required')) {
                <mat-error>Email is required</mat-error>
              }
              @if (emailControl()?.touched && emailControl()?.hasError('email')) {
                <mat-error>Email must be valid</mat-error>
              }
            </mat-form-field>
  
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
              @if (usernameControl()?.touched && usernameControl()?.hasError('required')) {
                <mat-error>Username is required</mat-error>
              }
            </mat-form-field>
  
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
              @if (passwordControl()?.touched && passwordControl()?.hasError('required')) {
                <mat-error>Password is required</mat-error>
              }
            </mat-form-field>
  
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password Confirmation"
                formControlName="passwordConfirm"
              />
              @if (passwordConfirmControl()?.touched && passwordConfirmControl()?.hasError('passwordsNotMatching')) {
                <mat-error>Passwords are not matching</mat-error>
              }
            </mat-form-field>

            @if (!form.valid) {
              <mat-hint>Please fill out all information correctly!</mat-hint>
            }

            @if (passwordConfirmControl()?.touched && passwordConfirmControl()?.hasError('passwordsNotMatching')) {
              <mat-error>Passwords are not matching</mat-error>
            }
  
            <div class="button">
              <button mat-button type="submit" [disabled]="!form.valid">
                Register
              </button>
            </div>
          </form>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
